.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
  'header header'
  'nav content';
  grid-template-rows: 60px 1fr; /*1st its height of block 2ns its size*/
  grid-template-columns: 2fr 10fr; /*all params is size*/
  gap: 10px;
}
